<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Release</th>
      <th>Director</th>
      <th>Synopsis</th>
      <th>Poster</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.number %></td>
        <td><%= movie.name %></td>
        <td><%= movie.release %></td>
        <td><%= movie.director %></td>
        <td><%= movie.synopsis %></td>
        <td> <%= image_tag movie.poster, height: 200 unless movie.poster.nil? %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
